files:
  "/home/ec2-user/tomcat7.custom" :
    mode: "000664"
    owner: root
    group: tomcat
    content: |
      JAVA_OPTS=" -DPARAM1=\"\" -DPARAM2=\"\" -DPARAM3=\"\" -DPARAM4=\"\" -DPARAM5=\"\" -DJDBC_CONNECTION_STRING=\"\" -DAWS_SECRET_KEY=\"\" -DAWS_ACCESS_KEY_ID=\"\" -Xms256m -Xmx256m -XX:MaxPermSize=256m -XX:NewSize=848m -XX:PermSize=128m -Duser.timezone=Europe/Madrid"

  "/opt/elasticbeanstalk/hooks/configdeploy/post/00update_tomcat_jvmoptions.sh" :
    mode: "000755"
    owner: root
    group: tomcat
    content: |
      #!/bin/sh
      cp /home/ec2-user/tomcat7.custom /etc/sysconfig/tomcat7

container_commands:
 00updatejvmoptions:
  command: /opt/elasticbeanstalk/hooks/configdeploy/post/00update_tomcat_jvmoptions.sh
  